# Prepend keys with ':' to symoblize keys when parsing
- :access_id: USERNAME_OR_ID
  :password: PASSWORD
  :product_data_service_url: https://services.starline.com/CustomerProductDataService/CustomerProductDataService.svc
  :media_content_service_url: https://services.starline.com/MediaContentService/MediaContentService.svc
- :access_id: USERNAME_OR_ID
  :password: PASSWORD
  :product_data_service_url: https://ppds.hitpromo.net/productData?ws=1
  :media_content_service_url: https://ppds.hitpromo.net/productMedia?ws=1
